* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    border: 0px solid red;
}

.container {
    margin: 0 auto;
    display: grid;
    min-height: 900px;
    grid-template: repeat(15, 100px) / repeat(12, 1fr);
    justify-items: center;
    align-items: stretch;
    justify-items: stretch;
}

.hero {
    grid-area: 1 / 1 / span 6 / span 12;
    background-image: linear-gradient(rgba(20, 20, 20, 0.7), rgba(15, 15, 15, 0.3)), url(./bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 74px;
    color: white;
    margin: 0 auto;
    font-weight: 200;
    margin-top: 100px;
}

.hero p {
    color: #b3b3b3;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    text-shadow: 1px 1px 20px black;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    margin: 30px auto;
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

main {
    background-color: rgb(34 34 34);
    grid-area: 7 / 1 / span 4 / span 12;
}