* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* latin-ext */
@font-face {
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sniglet/v12/cIf9MaFLtkE3UjaJ9CChYVkH.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

/* latin */
@font-face {
    font-family: 'Sniglet';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sniglet/v12/cIf9MaFLtkE3UjaJ9C6hYQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    background-color: rgb(27, 52, 75);
}

header {
}

nav {
    float: center;
    width: 900px;
    border: 10px white solid ;
    margin: 0 auto;
}

h1 {
    font-family: 'Sniglet';
    color: antiquewhite;
    text-align: center;
    text-transform: uppercase;
    opacity: 70%;
    line-height: 2em;
    border-radius: 30px 0px 30px 0px;
}

h2,
p {
    font-weight: bold;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    background-image: url(./pics/11.jpg);
    height: 100px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 18px;
}

ul li, 
ul li a{
    color: whitesmoke;

}

ul {
    background-color: rgb(16, 32, 46);
    border-radius: 25px 0px 25px 0px;
    padding: 10px;
}

nav ul li {
    display: inline;
    list-style-type: none;
    border-radius: 10px;
    margin: auto 25px;
    padding: 2px;
    font-size: 2.5em;
}

aside img {
    border-radius: 50%;
}

aside {
    
}